<div class="container bg-white">
  <div class="p-5 d-flex align-items-center">
    <div class="">
      <h2 class="text-black-50">Hellow, this is the Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium purus sit amet fermentum pharetra. Nam maximus erat et odio volutpat dignissim. Curabitur auctor pellentesque vulputate. Sed tempor tincidunt nisl id ornare. Nulla ultricies blandit hendrerit. Phasellus augue nibh, ornare eget libero eu, imperdiet gravida est. </p>
    </div>
    <div class="ms-5">
      <img class="rounded-circle" width="300" height="300" src="https://images.pexels.com/photos/2380794/pexels-photo-2380794.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="face-man">
    </div>
  </div>
</div>