<div class="container py-5 bg-white">

  <div class="bg-white">
    <h3>Portfolio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam velit tellus, ornare at ex eget, faucibus laoreet enim. Phasellus sit amet volutpat dolor. Sed tristique consectetur consectetur. Phasellus quis libero vel enim condimentum varius a sit amet justo. Pellentesque id viverra ipsum. Sed orci arcu, efficitur eu turpis sed, malesuada pellentesque velit. Aliquam velit nunc, eleifend ac bibendum non, suscipit et neque. Pellentesque tempor lobortis tellus. Nullam semper, est in semper pretium, erat lectus interdum justo, eget elementum neque nisi imperdiet eros.
    </p>

  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <h4 class="text-primary">Project Name</h4>
          <p class="card-text fs-6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <h4 class="text-primary">Project Name</h4>
          <p class="card-text fs-6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <h4 class="text-primary">Project Name</h4>
          <p class="card-text fs-6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>


  </div>
</div>